/* Navbar styles */
header {
  width: 100%;
  background-color: transparent; /* Make navbar background transparent */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; /* Keep navbar on top */
  backdrop-filter: blur(10px); /* Apply blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  color: #fff;
  max-width: 1200px;
  margin: auto;
  position: relative;
  z-index: 1; /* Ensure content stays above the blur */
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: 600;
  color: #fff;
}

.logo-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #f0a500;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 4px;
  border-radius: 5px;
}

/* Responsive for Mobile */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #2c6e49;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .hamburger {
    display: flex;
  }

  .navbar.active .nav-links {
    display: flex;
  }
}

/* Hero Section */
.hero {
  position: relative;
  height: 100vh;
  background-image: url("background.webp"); /* Hero image */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

.hero-content {
  position: relative;
  z-index: 1;
  padding: 20px;
}

.hero-content h1 {
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.cta {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #f0a500;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta:hover {
  background-color: #e08900;
}